@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #FBFBFB;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}   

/*Navbar*/

.navbar{
    width: 100%;
    position: fixed;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 0;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 35px;
    color:#1B1B1B;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color:#1B1B1B;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
}

.navbar .menu li:hover a{
    color: #FFB800;
}